@tailwind base;
@tailwind components;
@tailwind utilities;

/* Azul Escuro */
.text-blue-1 {
  color: #404467;
}

.bg-blue-1 {
  background-color: #404467;
}

/* Roxo */
.text-blue-2 {
  color: #5c627a;
}

.bg-blue-2 {
  background-color: #5c627a;
}

/* Cinza Escuro */
.text-gray-1 {
  color: #a3b6a2;
}

.bg-gray-1 {
  background-color: #a3b6a2;
}

/* Cinza Claro */
.text-gray-2 {
  color: #b2ccaf;
}

.bg-gray-2 {
  background-color: #b2ccaf;
}

/* Bege */
.text-bege-1 {
  color: #fffaac;
}

.bg-bege-1 {
  background-color: #fffaac;
}
